.search-results-page-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.search-results-page-left {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    align-items: center;
    width: 640px;
    margin-right: 16px;
}

.post-results-ul {
    list-style: none;
    margin-top: 52px;
    padding-top:16px;
}
.user-results-ul {
    list-style: none;
    /* margin-top: 52px; */
    width: 310px;
    box-sizing: border-box;
    padding: 0px;
}
.community-results-ul {
    list-style: none;
    /* margin-top: 52px; */
    margin: 0px;
    width: 310px;
    box-sizing: border-box;
    padding: 0px;
}

.post-result-li {
    display: flex;
    /* flex-direction: column; */
    box-sizing: border-box;
    align-items: flex-start;
    /* margin: 16px; */
    height: auto;
    width: 624px;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 14px;
    font-family: 'IMB Plex Sans', Arial, sans-serif;
    color: #1A1A1B;
    line-height: 18px;
    background-color: #FFFFFF;
    border-radius: 4px;
    justify-content: space-between;
}

.post-result-li:hover {
    cursor: pointer;
    border: 1px solid #787C7E;
}

.post-result-image {
    height: 98px;
    width: 138px;
}

.community-result-li {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-start;
    height: auto;
    width: 310px;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 14px;
    font-family: 'IMB Plex Sans', Arial, sans-serif;
    color: #1A1A1B;
    line-height: 18px;
    background-color: #FFFFFF;
    border-radius: 4px;
}

.community-result-li:hover {
    cursor: pointer;
    border: 1px solid #787C7E;
}

/* .comm-res-pic-and-title {
    display: flex;
} */

.user-result-li {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-start;
    /* margin: 16px; */
    height: 69px;
    width: 310px;
    border: 1px solid #ccc;
    padding: 16px;
    font-size: 14px;
    font-family: 'IMB Plex Sans', Arial, sans-serif;
    color: #1A1A1B;
    line-height: 18px;
    background-color: #FFFFFF;
    border-radius: 4px;
}

.user-result-li:hover {
    cursor: pointer;
    border: 1px solid #787C7E;
}

.community-result-li > p {
    font-size: 12px;
    font-family: 'IMB Plex Sans', Arial, sans-serif;
    font-weight: 400;
    line-height: 18px;
    color: #7C7C7C;;
    word-wrap: break-word;
    box-sizing: border-box;
    padding-left: 12px;
}

.search-results-page-right {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    align-items: center;
    width: 310px;
    margin-left: 24px;
}
