.user-profile-page-container {
    display: flex;
    justify-content: center;
}

.user-profile-page-left {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 626px;
    margin-right: 16px;
}

.sort-buttons-container {
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    padding: 8px;
    margin-bottom: 16px;
    margin-top: 16px;
}

.all-posts-container-user-page {
    display: flex;
    flex-direction: column;
    margin-top: 68px;
    width: 642px;
}



.user-profile-page-right {
    display: flex;
    flex-direction: column;
    width: 310px;
    margin-left: 16px;
}

.user-info-container {
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    padding: 8px;
    margin-bottom: 16px;
    margin-top: 68px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
}

.update-user-form-container {
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    padding: 8px;
    margin-bottom: 16px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
}

.user-info-ul {
    list-style: none;
    font-family: 'IMB Plex Sans', Arial, sans-serif;
}

.user-profile-pic {
    height: 200px;
    width: 200px;
    border-radius: 50px;
}

.moderator-of-container {
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    padding: 8px;
    margin-bottom: 16px;
    height: auto;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    background-image: url('../images/mesa-head.jpeg');
    background-size:contain;
    background-repeat: no-repeat;
    padding-top: 70px;
}

.community-mod-li {
    list-style: none;
    align-items: center;
    height: 48px;
    border-bottom: thin solid #EDEFF1;
    padding: 0px 12px;
}

.comm-sugg {
    text-decoration: none;
    font-family: 'IMB Plex Sans', Arial, sans-serif;
}

.comm-sugg:visited {
    text-decoration: none;
    color: #000000;
}
.comm-sugg:hover {
    color: orangered;
}


.sugg-h4 {
    filter: drop-shadow(0 0 .75rem crimson)
}
