/* TODO Add site wide styles */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #DAE0E6;
}

.navlinks-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: content-box;
    padding: 0 20px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #EDEFF1;
    height: 40px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    padding: 0 20px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #EDEFF1;
}

.icon {
    font-size: 25px;
}

.demo-button {
    border: none;
    border-radius: 4px;
    background-color: orangered;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    padding: 5px;
}
