/* TODO Add site wide styles */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #DAE0E6;
    margin: 0px
}

.navlinks-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: content-box;
    padding: 0 20px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #EDEFF1;
    height: 40px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    padding: 0 20px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #EDEFF1;
}

.icon {
    font-size: 25px;
    cursor: pointer;
}

.demo-button {
    border: none;
    border-radius: 4px;
    background-color: orangered;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    padding: 5px;
    cursor: pointer;
}

.demo-button:hover {
    background-color: rgba(255, 68, 0, 0.29);
}

::-webkit-scrollbar {
    width: 0;
    /* background: transparent; */
}

.home-button-nav {
    /* font-family: ''; */
    display: flex;
    font-size: 14px;
    font-family: 'IMB Plex Sans', Arial, sans-serif;
    align-items: center;
    text-decoration: none;
}

.home-button-nav:visited {
    color: #000000;
}

.home-button-nav:hover {
    color: orangered;
}

.icon:hover {
    color: orangered;
}
