.post-image {
    width: 592px;
    box-sizing: border-box;
}

/* .individual-post-container {
    display: flex;
    box-sizing: border-box;
} */

.edit-post-form-buttons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 20px;
}

.edit-update-post-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 20px;
}
