.post-image {
    width: 592px;
    box-sizing: border-box;
}

.individual-post-container {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    padding: 8px;
    margin-bottom: 16px;
    height: auto;
    width: 100%;
    box-sizing: border-box;
}

.individual-post-container:hover {
    border: 1px solid #787C7E;
}

.post-outer-container {
    display: flex;
}

.post-inner-container-left {
    width: 100%;
    background-color: #F6F7F8;
}

.post-inner-container-right:hover {
    cursor: pointer;
}

.delete-post-confirm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-post-form-buttons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 20px;
}

.edit-post-button {
    cursor: pointer;
}
.edit-post-button:hover {
    color:orangered;
}
.delete-post-button {
    cursor: pointer;
}
.delete-post-button:hover {
    color:orangered;
}
.no-confirm-delete {
    cursor: pointer;
}
.confirm-delete {
    cursor: pointer;
}
.cancel-icon {
    cursor: pointer;
}
.save-icon {
    cursor: pointer;
}


.confirm-delete-buttons {
    display: flex;
    width: 100%;
}

.edit-update-post-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 20px;
}

.who-and-where-when-post {
    font-size: 12px;
    line-height: 16px;
    display: flex;
}

.post-title-div {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #222222;
    word-wrap: break-word;
}

.posted-by {
    color: #787C7E
}

.post-body {
    font-size: 16px;
    font-family: Noto Sans, Arial, sans-serif;
    font-weight: 600;
    line-height: 18px;
    color: #222222;
    word-wrap: break-word;
}


.comm-link {
    text-decoration: none;
    font-size: 13px;
}

.comm-link:visited {
    text-decoration: none;
    color: #000000;
}
.comm-link:hover {
    color: orangered;
}

.user-link {
    text-decoration: none;
}
.user-link:visited {
    text-decoration: none;
    color: #787C7E
}
.user-link:hover {
    color: orangered;
}
