.home-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.home-content-left {
    width: 640px;
}

.create-post-form-container {
    display: flex;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    padding: 8px;
    margin-bottom: 16px;
    margin-top: 16px;
    width: 100%;
}

.sort-buttons-container {
    display: flex;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    padding: 8px;
    margin-bottom: 16px;
    width: 100%;
}

.all-posts-container {
    display: flex;
    flex-direction: column;

}

.individual-post-container {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    padding: 8px;
    margin-bottom: 16px;
    /* height: 487px; */
    height: auto;
    width: 100%;
}

.community-suggestions-container {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    padding: 8px;
    margin-bottom: 16px;
    margin-top: 16px;
    width: 310px;
}

.community-suggestions-ul {
    list-style: none;
}

.view-all-communities-home-button {
    border-radius: 9999px;
    color: #FFFFFF;
    background-color: #0079D3;
    width: 286px;
    font-size: 14px;
    font-family: "Noto Sans", Arial, sans-serif;
    font-stretch: 100%;
    font-weight: 700;
    line-height: 17px;
    margin-top: 12px;
    padding: 4px 16px;
    min-height: 32px;
    min-width: 32px;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
}

.shreddit-premium-container {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    padding: 8px;
    margin-bottom: 16px;
    width: 310px;
}

.try-now-home-button {
    border-radius: 9999px;
    color: #FFFFFF;
    background-color: orangered;
    width: 286px;
    font-size: 14px;
    font-family: "Noto Sans", Arial, sans-serif;
    font-stretch: 100%;
    font-weight: 700;
    line-height: 17px;
    margin-top: 12px;
    padding: 4px 16px;
    min-height: 32px;
    min-width: 32px;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
}

.home-right-create-links-inner-container {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    padding: 8px;
    margin-bottom: 16px;
    width: 310px;
}

.create-post-home-button {
    border-radius: 9999px;
    color: #FFFFFF;
    background-color: #0079D3;
    width: 286px;
    font-size: 14px;
    font-family: "Noto Sans", Arial, sans-serif;
    font-stretch: 100%;
    font-weight: 700;
    line-height: 17px;
    margin-top: 12px;
    padding: 4px 16px;
    min-height: 32px;
    min-width: 32px;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
}

.create-community-home-button {
    border-radius: 9999px;
    color: #0079D3;
    color: rgb(0, 121, 211);
    background-color: #FFFFFF;
    width: 286px;
    font-size: 14px;
    font-family: "Noto Sans", Arial, sans-serif;
    font-stretch: 100%;
    font-weight: 700;
    line-height: 17px;
    margin-top: 12px;
    padding: 4px 16px;
    min-height: 32px;
    min-width: 32px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #0079D3;
}

.create-community-form {
    border-radius: 4px;
    background-color: #FFFFFF;
    width: 511px;
    height: 529px;
    font-size: 14px;
    font-family: "Noto Sans", Arial, sans-serif;
    font-stretch: 100%;
    font-weight: 700;
    line-height: 17px;
    align-items: flex-start;
    text-align: left;
    justify-content: space-evenly;
    margin-top: 12px;
    padding: 4px 16px;
    min-height: 32px;
    min-width: 32px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #0079D3;
}

.create-community-form-header {
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.community-form-buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background-color: #EDEFF1;
}

.cancel-create-community-button {
    border-radius: 9999px;
    color: #0079D3;
    color: rgb(0, 121, 211);
    background-color: #FFFFFF;
    width: 78px;
    font-size: 14px;
    font-family: "Noto Sans", Arial, sans-serif;
    font-stretch: 100%;
    font-weight: 700;
    line-height: 17px;
    margin-top: 12px;
    padding: 4px 16px;
    min-height: 32px;
    min-width: 32px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #0079D3;
}

.create-community-form-button {
    border-radius: 9999px;
    color: #FFFFFF;
    background-color: #0079D3;
    width: 163px;
    font-size: 14px;
    font-family: "Noto Sans", Arial, sans-serif;
    font-stretch: 100%;
    font-weight: 700;
    line-height: 17px;
    margin-top: 12px;
    padding: 4px 16px;
    min-height: 32px;
    min-width: 32px;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
}

.error-text {
    color: red;
}
