.home-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.home-content-left {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    margin-right: 16px;
}

.create-post-form-container {
    display: flex;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    padding: 8px;
    margin-bottom: 16px;
    margin-top: 68px;
    width: 640px;
    height: 58px;
    box-sizing: border-box;
    justify-content: center;
    align-items: stretch;
}

.create-post-avatar {
    height: 45px;
    width: 45px;
    vertical-align: middle;
}

.create-post-form-input {
    width: 486px;
    height: 38px;
    margin-right: 8px;
    padding: 0px 16px;
    background-color: #F6F7F8;
    border-radius: 4px;
    border: 1px solid #EDEFF1;
    flex-grow: 1;
    font-family: Noto Sans, Arial, sans-serif;
    font-weight: 800;
}

.sort-buttons-container {
    display: flex;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    padding: 8px;
    margin-bottom: 16px;
    width: 100%;
    justify-content: space-around;
    box-sizing: border-box;
}

.sort-button {
    border-radius: 9999px;
    color: rgb(154, 154, 154);
    background-color: #FFFFFF;
    width: 68px;
    height: 32px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-stretch: 100%;
    font-weight: 700;
    line-height: 17px;
    margin-top: 12px;
    padding: 4px 16px;
    min-height: 32px;
    min-width: 32px;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    justify-content: center;
    align-items: center;
}

.all-posts-container {
    display: flex;
    flex-direction: column;
    width: 642px;
}


.home-content-right {
    width: 310px;
    margin-left: 24px;
}

.community-suggestions-container {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    padding: 8px;
    margin-bottom: 16px;
    margin-top: 68px;
    width: 310px;
    box-sizing: border-box;
    background-image: url('../../images/mesa-head.jpeg');
    background-size:contain;
    background-repeat: no-repeat;
    padding-top: 75px;
}

.sugg-header {
    display: flex;
    justify-content: space-around;
    align-self:center;
    filter: drop-shadow(0 0 0.75rem orangered);
}
.sugg-h4 {
    align-self: center;
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 20px;
    padding: 16px 16px 0;
}
.shlogo {
    width: 42px;
    height: 42px;
    align-self: flex-end;
}

.community-suggestion-li {
    display: flexbox;
    align-items: center;
    height: 48px;
    border-bottom: thin solid #EDEFF1;
    padding: 0px 12px;
    font-size: 14px;
    font-family: 'IMB Plex Sans', Arial, sans-serif;
    color: #1A1A1B;
    line-height: 18px;
}

.comm-sugg {
    text-decoration: none;
}

.comm-sugg:visited {
    text-decoration: none;
    color: #000000;
}
.comm-sugg:hover {
    color: orangered;
}

.community-suggestion-li:hover {
    animation: shake 0.8s;
    border-bottom: none;
}


@keyframes shake{
    0%{
      transform: translateX(0)
    }
    25%{
      transform: translateX(15px);
    }

    50%{
      transform: translateX(-15px);
    }
    100%{
      transform: translateX(0px);
    }
}

.comm-suggestion-pic {
    height: 32px;
    width: 32px;
    border-radius: 24px;
    margin: 0px 8px;
    vertical-align: middle;
}

.view-all-communities-home-button {
    border-radius: 9999px;
    color: #FFFFFF;
    background-color: #0079D3;
    width: 286px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-stretch: 100%;
    font-weight: 700;
    line-height: 17px;
    margin-top: 12px;
    padding: 4px 16px;
    min-height: 32px;
    min-width: 32px;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
}

.view-all-communities-home-button:hover {
    background-color: #0078d3a6;
}

.shreddit-premium-container {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    padding: 8px;
    margin-bottom: 16px;
    width: 310px;
    box-sizing: border-box;
}

.prem-h4 {
    align-self: center;
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #1C1C1C;
    font-weight: 500;
    line-height: 20px;
    padding: 16px 16px 0;
}
.prem-p {
    text-align: center;
    font-size: 14px;
    font-family: 'Noto Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    word-wrap: break-word;
}

.try-now-home-button {
    border-radius: 9999px;
    color: #FFFFFF;
    background-color: orangered;
    width: 286px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-stretch: 100%;
    font-weight: 700;
    line-height: 17px;
    margin-top: 12px;
    padding: 4px 16px;
    min-height: 32px;
    min-width: 32px;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
}

.try-now-home-button:hover {
    background-color: rgba(255, 68, 0, 0.634);
}

.developer-contact-container {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    padding: 8px;
    margin-bottom: 16px;
    width: 310px;
    box-sizing: border-box;
}

.dev-h4 {
    align-self: center;
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #1C1C1C;
    font-weight: 500;
    line-height: 20px;
    padding: 16px 16px 0;
}
.dev-p {
    align-self: center;
    font-size: 14px;
    font-family: 'Noto Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    word-wrap: break-word;
}

.github-link-home-button {
    border-radius: 9999px;
    color: #FFFFFF;
    background-color: #0079D3;
    width: 286px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-stretch: 100%;
    font-weight: 700;
    line-height: 17px;
    margin-top: 12px;
    padding: 4px 16px;
    min-height: 32px;
    min-width: 32px;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
}

.github-link-home-button:hover {
    background-color: #0078d3a6;
}

.linkedin-link-home-button {
    border-radius: 9999px;
    color: #0079D3;
    color: rgb(0, 121, 211);
    background-color: #FFFFFF;
    width: 286px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-stretch: 100%;
    font-weight: 700;
    line-height: 17px;
    margin-top: 12px;
    padding: 4px 16px;
    min-height: 32px;
    min-width: 32px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #0079D3;
}

.linkedin-link-home-button:hover {
    background-color: #0078d3a6;
    color:#FFFFFF;
    border-style: none;
}

.home-right-create-links-inner-container {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    padding: 8px;
    margin-bottom: 16px;
    width: 310px;
    box-sizing: border-box;
}

.home-h4 {
    align-self: center;
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #1C1C1C;
    font-weight: 500;
    line-height: 20px;
    padding: 16px 16px 0;
}

.home-p {
    text-align: center;
    font-size: 14px;
    font-family: 'Noto Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    word-wrap: break-word;
}

.create-post-home-button {
    border-radius: 9999px;
    color: #FFFFFF;
    background-color: #0079D3;
    width: 286px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-stretch: 100%;
    font-weight: 700;
    line-height: 17px;
    margin-top: 12px;
    padding: 4px 16px;
    min-height: 32px;
    min-width: 32px;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
}

.create-post-home-button:hover {
    background-color: #0078d3a6;
}

.create-community-home-button {
    border-radius: 9999px;
    color: #0079D3;
    color: rgb(0, 121, 211);
    background-color: #FFFFFF;
    width: 286px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-stretch: 100%;
    font-weight: 700;
    line-height: 17px;
    margin-top: 12px;
    padding: 4px 16px;
    min-height: 32px;
    min-width: 32px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #0079D3;
}

.create-community-home-button:hover {
    background-color: #0078d3a6;
    color:#FFFFFF;
    border-style: none;
}

.create-community-form {
    border-radius: 4px;
    background-color: #FFFFFF;
    width: 511px;
    height: 529px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-stretch: 100%;
    font-weight: 700;
    line-height: 17px;
    align-items: flex-start;
    text-align: left;
    justify-content: space-evenly;
    margin-top: 12px;
    padding: 4px 16px;
    min-height: 32px;
    min-width: 32px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #0079D3;
}

.create-community-form-header {
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.community-form-buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background-color: #EDEFF1;
}

.cancel-create-community-button {
    border-radius: 9999px;
    color: #0079D3;
    color: rgb(0, 121, 211);
    background-color: #FFFFFF;
    width: 78px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-stretch: 100%;
    font-weight: 700;
    line-height: 17px;
    margin-top: 12px;
    padding: 4px 16px;
    min-height: 32px;
    min-width: 32px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #0079D3;
}

.cancel-create-community-button:hover {
    background-color: orangered;
    color:#FFFFFF;
    border: none;
}

.create-community-form-button {
    border-radius: 9999px;
    color: #FFFFFF;
    background-color: #0079D3;
    width: 163px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-stretch: 100%;
    font-weight: 700;
    line-height: 17px;
    margin-top: 12px;
    padding: 4px 16px;
    min-height: 32px;
    min-width: 32px;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
}

.create-community-form-button:hover {
    background-color: #0078d3a6;
}

.error-text {
    color: red;
}
