.search-result-div {
    display: flex;
    box-sizing: border-box;
    height: 52px;
    width: 594px;
    padding: 12px 16px 6px;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #EDEFF1;
}

.navBar__searchResults {
    display: flex;
    position: absolute;
    /* width: 15em; */
    width: 594px;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    align-items: flex-start;
    height: fit-content;
    row-gap: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-result-comm-image {
    height: 17px;
    width: 17px;
    border-radius: 40px;
    padding: 5px;
}

.navBar__searchResults > a {
    display: flex;
    justify-self: center;
    align-items: center;
    color: black;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    flex-direction: column;
    width: 100%;
    text-decoration: none;
}

.search-bar {
    display: flex;
    /* width: 594px; */
    height: 34px;
    box-sizing: border-box;
    padding: 0px 16px;
    background-color: #F6F7F8;
    border-radius: 4px;
    border: 1px solid #EDEFF1;
    max-width: 594px;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    font-family: Noto Sans, Arial, sans-serif;
    font-weight: 800;
}

.search-button {
    margin: 10px;
    font-size: 25px;
    vertical-align: middle;
    cursor: pointer;
}

.search-button:hover {
    color: orangered;
    border-radius: 4px;
    border: 1px solid #EDEFF1;
    padding: 5px;
}

.search-result {
    text-decoration: none;
}

.search-result:visited {
    color: #000000
}

.search-result:hover {
    color: orangered;
}


.navBar__searchInput {
    display: flex;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    width: auto;
    /* width: 594px; */
    /* width: 100%; */
}

.search-bar-container {
    display: flex;
    /* width: auto; */
}
