.comment-container-outer {
    display: flex;
    align-items: center;
}

.comment-container-inner {
    border: 1px solid #efefef;
    border-radius: 4px;
    margin: 5px;
    padding: 5px;
    width: 600px;
    height: auto;
}

.commented-by {
    text-align: left;
    border-bottom: 1px solid #efefef;
    font-size: 14px;
    font-family: 'IMB Plex Sans', Arial, sans-serif;
    display: flex;
    justify-content: space-between;
}

.commented-by-inner {
    display: flex;
}

.trash-icon:hover {
    color: orangered;
    cursor: pointer;
}

.comment-date {
    color: #8c8c8c;
}

.user-link-comment {
    text-decoration: none;
}
.user-link-comment:visited {
    text-decoration: none;
    color: #000000
}
.user-link-comment:hover {
    color: orangered;
}

.comment-content {
    text-align: left;
    font-size: 14px;
    font-family: 'Noto Sans', Arial, sans-serif;
    font-weight: 700;
    word-wrap: break-word;
}

.edit-delete-comment-buttons-container {
    display: flex;
    justify-content: flex-end;
}

.edit-comment-icon:hover {
    color: orangered;
    cursor: pointer;
}

.comment-user-image {
    height: 50px;
    width: 50px;
    border-radius: 9999px;
}

.update-comment-button {
    border-radius: 9999px;
    color: #0079D3;
    color: rgb(0, 121, 211);
    background-color: #FFFFFF;
    width: 78px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-stretch: 100%;
    font-weight: 700;
    line-height: 17px;
    margin-top: 12px;
    padding: 4px 16px;
    min-height: 32px;
    min-width: 32px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #0079D3;
}

.update-comment-button:hover {
    background-color: #0078d3a6;
    color:#FFFFFF;
}

.cancel-update-comment-button {
    border-radius: 9999px;
    color: #0079D3;
    color: rgb(0, 121, 211);
    background-color: #FFFFFF;
    width: 78px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-stretch: 100%;
    font-weight: 700;
    line-height: 17px;
    margin-top: 12px;
    padding: 4px 16px;
    min-height: 32px;
    min-width: 32px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #0079D3;
}

.cancel-update-comment-button:hover {
    background-color: orangered;
    color:#FFFFFF;
    border: none;
}
