.single-community-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.community-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 20px; */
    font-size: 28px;
    font-family: 'IMB Plex Sans', Arial, sans-serif;
    font-weight: 700;
    line-height: 32px;
    background-color: #FFFFFF;
    height: 260px;
    box-sizing: border-box;;
}

.community-header-top {
    height: 108px;
    background-color: #33a8ff;
    margin-top: 20px;
    width: 100%;
}

.community-header-bottom {
    height: 132px;
    /* height: 100%; */
    display: flex;
}

.comm-shlogo {
    height: 60px;
    margin: 10px;
}

.community-header-name {
    display: flex;
    align-items: flex-start;
    font-family: 'IMB Plex Sans', Arial, sans-serif;
    color: #7C7C7C;
    font-size: 14px;
}

.create-post-form-container-comm-page {
    display: flex;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    padding: 8px;
    margin-bottom: 16px;
    margin-top: 16px;
    width: 640px;
    height: 58px;
    box-sizing: border-box;
    justify-content: center;
    align-items: stretch;
}

.community-page-left {
    width: 640px;
    margin-right: 16px;
    display: flex;
    flex-wrap: wrap;
}

.community-page-right {
    margin-left: 16px;
    margin-top: 16px;
}

.community-image {
    height: 200px;
    width: 200px;
    border-radius: 50px;
}

.community-container-div:hover > .community-image {
    filter: drop-shadow(0 0 0.75rem #33a8ff);
    animation: tilt-shaking 0.25s infinite;
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

.community-container-div:hover > .link-to-comm {
    color: #33a8ff;
}

.communities-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.about-community-container {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    padding: 8px;
    margin-bottom: 16px;
    width: 310px;
    box-sizing: border-box;
}

.about-community-header {
    background-color: #0079D3;
    color: #FFFFFF;
    border-radius: 3px 3px 0 0;
    display: flex;
    justify-content: space-around;
    font-family: 'IMB Plex Sans', Arial, sans-serif;
}

.comm-description {
    word-wrap: break-word;
}

.community-info {
    font-family: 'VAG Rounded';
}

.moderator-link {
    text-decoration: none;
}

.moderator-link:visited {
    color: #000000
}

.moderator-link:hover {
    color: orangered;
}

.edit-community-button {
    border-radius: 9999px;
    color: #0079D3;
    color: rgb(0, 121, 211);
    background-color: #FFFFFF;
    /* width: 286px; */
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-stretch: 100%;
    font-weight: 700;
    line-height: 17px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 4px 16px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #0079D3;
}

.delete-community-button {
    border-radius: 9999px;
    color: #FFFFFF;
    background-color: orangered;
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-stretch: 100%;
    font-weight: 700;
    line-height: 17px;
    margin: 12px;
    padding: 4px 16px;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
}

.edit-community-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.edit-community-form-buttons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 5px;
}

.cancel-edit {
    border: none;
    background-color: orangered;
    color: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
}

.save-edit {
    border: none;
    background-color: #0079D3;
    color: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
}

.confirm-delete-buttons {
    display: flex;
    justify-content: space-around;
}

.confirm-delete {
    border:none;
    border-radius: 9999px;
    background-color: orangered;
    color:#FFFFFF
}

.no-confirm-delete {
    border:none;
    border-radius: 9999px;
    color: #0079D3;
}


.all-communities {
    background-color: #FFFFFF;
    padding-top: 30px;
}

.link-to-comm {
    text-decoration: none;
}

.link-to-comm:visited {
    color:#000000;
}

.link-to-comm:hover {
    color: orangered;
}

.community-info-ul {
    list-style: none;
}


.community-container-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px;
    padding: 4px;
    cursor: pointer;
}

.community-container-div:hover {
    border: 1px solid #33a8ff;
}


.community-header-container-view-all {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'VAG Rounded';
    margin-top: 20px;
}

.comm-description-view-all {
    word-wrap: break-word;
}
