.help-links-container {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    padding: 8px;
    margin-bottom: 16px;
    width: 310px;
    position: sticky;
    top: 0
}

.help-links-content {
    display: flex;
}

.help-links-ul {
    list-style: none;
}
