.submit-page-container {
    display: flex;
    justify-content: center;
}

.submit-page-left {
    display: flex;
    flex-direction: column;
    width: 740px;
    height: 100%;
}

.create-post-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #EDEFF1;
    color: #1C1C1C;
}

.create-post-form-container-submit {
    display: flex;
    flex-direction: column;
    height: auto;
    box-sizing: border-box;
    width: auto;
    margin-right: 24px;
    margin-top: 16px;
}

.submit-post-input {
    width: 300px;
    /* margin: 0px 0px 8px; */
    height: 37px;
    box-sizing: border-box;
    margin-bottom: 8px;
    border-radius: 4px;
    padding: 4px 20px;
    width: 100%;
    font-size: 14px;
    font-family: Noto Sans, Arial, sans-serif;
    font-weight: 400;
    border: 1px solid #EDEFF1
}

.submit-post-input-textbox {
    width: 300px;
    height: 138px;
    /* margin: 0px 0px 8px; */
    /* height: 37px; */
    box-sizing: border-box;
    margin-bottom: 8px;
    border-radius: 4px;
    padding: 4px 20px;
    width: 100%;
    font-size: 14px;
    font-family: Noto Sans, Arial, sans-serif;
    font-weight: 400;
    border: 1px solid #EDEFF1
}

.post-label{
    font-size: 16px;
    font-weight: 400;
}

.posting-rules-container {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    padding: 12px;
    margin-bottom: 16px;
    margin-top: 16px;
    width: 310px;
    box-sizing: border-box;
}

.posting-rules-header {
    display: inline-flex;
}

.posting-rules-img {
    height: 100%;
}

.rules-ol {
    line-height: 18px;
}

.rules-li {
    border-bottom: 1px solid #EDEFF1;
    padding: 10px 5px;
    color: #1C1C1C;
    font-size: 14px;
}

.submit-post-form-button {
    border-radius: 9999px;
    color: #FFFFFF;
    background-color: #0079D3;
    width: 286px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-stretch: 100%;
    font-weight: 700;
    line-height: 17px;
    margin-top: 12px;
    padding: 4px 16px;
    min-height: 32px;
    min-width: 32px;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
}

.submit-post-form-button:hover {
    background-color: #0078d3a6;
}


.please-be-mindful{
    font-size: 12px;
    font-weight: 500;
    color: #7c7c7c;
    line-height: 16px;

}
