.submit-page-container {
    display: flex;
    justify-content: center;
}

.submit-page-left {
    display: flex;
    flex-direction: column;
    width: 740px;
    height: 100%
}

.create-post-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-post-form-container {
    display: flex;
    flex-direction: column;
    height: auto;
    box-sizing: border-box;
}

.posting-rules-container {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    padding: 8px;
    margin-bottom: 16px;
    margin-top: 16px;
    width: 310px;
    box-sizing: border-box;
}

.posting-rules-header {
    display: inline-flex;
}

.posting-rules-img {
    height: 100%;
}

.submit-post-form-button {
    border-radius: 9999px;
    color: #FFFFFF;
    background-color: #0079D3;
    width: 286px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-stretch: 100%;
    font-weight: 700;
    line-height: 17px;
    margin-top: 12px;
    padding: 4px 16px;
    min-height: 32px;
    min-width: 32px;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
}

.submit-post-form-button:hover {
    background-color: #0078d3a6;
}
